{{ define "main" }}
    <section class="article-list">
    {{ range .Site.Home.Sections.ByWeight }}
        {{ if ne .Section "page" }}
            {{ partial "article-list/default" . }}
        {{ end }}
    {{ end }}
    </section>

    {{- with .Content -}}
        <div class="article-content">
            {{ . }}
        </div>
    {{- end -}}

    {{- $paginator := partial "helper/paginator.html" . -}}

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}